body {
    margin: 0;
    text-decoration: none;
}

header {
  height: 15vh;
  width: 100vw;
}

.navbar {
  position: absolute;
  background-color: #F0EFEF;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.navbar .imglo{
  width: 200px;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 15px;
}

.navbar ul li a{
  color: #000000;
  text-decoration: none;
  font: 400 16px "Gotham", sans-serif;
}

.navbar .menu-hamburger {
  display: none;
  position: absolute;
  width: 30px;
  top: 10;
  right: 20px;
}

.fdn {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url(images/fonds.png);
}

.footer {
  background-color: #000000;
  padding: 45px 0;
}

.container {
  max-width: 1920px;
  margin:auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer-col {
  width: 31%;
  padding: 0 15px;
  color: #ffff;
  font: 600 18px "Gotham", sans-serif;
  margin-bottom: 30px;
  position: relative;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 5px;
}

.footer-col .socials a{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 35px 20px 20px 0;
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  color: #ffff;
}

.gal {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 70px 50px;
  margin-bottom: 150px;
}

.galb {
  height: 320px;
  margin: 0px 30px 0px 30px;
}

.gal img {
  transition: 1s;
  padding: 15px;
  width: 250px;
}

.gal img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.txtb {
  font: 600 20px "Gotham", sans-serif;
  text-align: center;
}

.txtm {
  font: 300 20px "Gotham", sans-serif;
  text-align: center;
}

.split {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.left, .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left, .cop {
  font: 300 20px "Gotham", sans-serif;
}

.left, .cop p {
  font: 300 16px "Gotham", sans-serif;
  margin-bottom: 50px;
}

.right, .cop h3 {
  font: 400 18px "Gotham", sans-serif;
  text-align: center;
}

.right, .cop p {
  font: 300 16px "Gotham", sans-serif;
}

.right form {
  width: 328px;
  background-color: #D9D9D9;
  text-align: center;
}

form input [type="text"], 
form input [type="email"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 0.875rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.signup-btn {
  margin-top: 20px;
  display: block;
  width: 100%;
  background-color: #000000;
  color: white;
  border: none;
  padding: 1rem;
}

.signup-btn:hover {
  background: #F0EFEF;
  cursor: pointer;
}

@media screen and (min-width: 900px) {

  .split {
    margin-left: 90px;
    flex-direction: row;
  }
  .left, .right {
    display: flex;
    width: 50%;
  }
}

@media screen and (max-width:900px){

  .navbar{
    padding: 0;
  }

  .navbar .menu-hamburger {
    display: block;
  }
  .nav-links {
    top: 0;
    left: 0;
    position: absolute;
    background-color: #F0EFEF;
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  .nav-links.mobile-menu {
    margin-left: 0;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 2em;
  }


  .footer-col{
    width: 100%;
    margin: 0 20px 0 30px;
  }

  .galb {
    margin-bottom: 125px;
  }

}
